<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="topnav">
        <h1>Blog Site</h1>
        <div>
            <a href="/logout">Log Out</a>
            <a href="/create">New Blog</a>
            <a href="/blogs">Blogs</a>
            <a href="/myBlogs">My Blogs</a>
            <a href=""></a>
        </div>
   </div>

    <div class="box">
        <div class="inner-box">
            <form class="edit-form" action="/editPost" method="post">
                <input class="edit-title" type="text" name="title" placeholder="Title" value="<%= TITLE %>">
                <hr>
                <textarea name="content"><%= CONTENT %></textarea>
                <input type="hidden" name="blogId" value="<%= ID %>">
                <input class="save-btn" type="submit" value="Save">    
            </form>
        </div>
    </div>
</body>
</html>