.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
}

.topnav h1, .topnav h2 {
    display: inline;
    color: white;
}

.topnav h1 {
    margin-left: 5px;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.box {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}



label {
    margin: 10px px;
    padding: 10px 0px;
    font-size: 20px;
}

input {
    margin: 10px 0px;
    width: 100%;
}

input[type=text],
input[type=password],
input[type=email] {
    background-color: #333;
    color: white;
}

.submit {
    margin: 10px 0px;
}

form {
    width: 100%;
    margin: 10px 10px;
}

.inner-box {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 1rem;
    width: 40%;
    background-color: #988f8f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    margin: 0px 0px;
    display: flex;
    flex-wrap: wrap;
    background-color: #decdcd;
}

html {
    background-color: #decdcd;
}

.container {
    margin: 15px 30px;
    width: 40%;
}

.title {
    border: 1px solid black;
    margin: 0px 0px;
    text-align: center;
    padding: 10px 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: #988f8f;
}

.user {
    border: 1px solid black;
    margin: 0px 0px;
    text-align: right;
    padding-right: 5px;
    border-radius: 0px 0px 10px 10px;
    background-color: #988f8f;

}

.content {
    border: 1px solid black;
    margin: 0px 0px;
    min-height: 150px;
    padding: 10px 10px;
    background-color: #c6bebe;
}

textarea {
    background-color: #333;
    color: white;
    width: 100%; /* Genişliği ayarlayın */
    height: 100px; /* Yüksekliği ayarlayın */
    padding: 10px; /* İç boşluk */
    resize: none; /* Kullanıcının boyutu manuel olarak değiştirmesini engeller */
    box-sizing: border-box; /* Padding ve border dahil genişlik hesaplaması */
}

form p {
    color: red;
}

.edit, .delete{
    margin-right: 10px;
    width: auto;
    margin-top: 0px;
    float: left;
}

body, html {
    margin: 0;
    padding: 0;
}